[Unit]
Description=FSAE Raspi Service
After=network.target taosd.service
Requires=taosd.service

[Service]
User=__USER__
WorkingDirectory=__HOME__/Documents/embedded
ExecStartPre=/bin/sh -c 'until taos -s "SELECT SERVER_VERSION();" > /dev/null 2>&1; do sleep 2; done'
ExecStart=__HOME__/.cargo/bin/cargo run --bin fsae-daq --release
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target